@import url(headerUser.css);
@import url(menuLogin.css);
@import url(estilo-modalCerrarSesion.css);

* {
    margin: 0;
    box-sizing: border-box;
}

html, body{
    min-width: 100vw;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
    background: radial-gradient(circle, #fff, #bbb);
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: white;
}

nav a{   
    font-weight: 600;
    display: inline-block;
}

/* INICIO DEL CONTAINER TODO CARRITO */

main{
    width: 100%;
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-family: 'Rubik', sans-serif;
    margin-top: 120px;
    gap: 20px;
}

.containerTodo{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    background-color: #fff;
    box-shadow: 4px 4px 2px 2px rgba(0.2, 0.2, 0.2, 0.2);
    align-items: center;
    margin-bottom: 5%;
}

.containerTodo h1{
    padding: 10px;
    display: flex;
}

.containerTodo a{
    color: #000;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerModal{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    align-items: center;
    gap: 20px;
    font-size: 1.5em;
}

.container__todo__pagoConfirmado{
    display: flex;
    flex-direction: column;
}

.container__todo__pagoConfirmado__sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container__todo__pagoConfirmado__sub a{
    height: 50px;
}

.iconoCruz{
    color: #b82222;
    width: 300px;
    height: 300px;
}

.iconoCheck{
    color: rgb(68, 129, 68);
    width: 300px;
    height: 300px;
}

/* FIN DEL CONTAINER TODO CARRITO */


/* INICIO DEL FOOTER */
footer{
    background: linear-gradient(to bottom, black, #575353);
    color: white;
    display: flex;
    width: 100%;
    height: 120px;
    position: relative;
    bottom: 0;
}

footer p{
    align-self: center;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}
/* FIN DEL FOOTER */




/* INICIO DEL RESPONSIVE DESIGN */

@media screen and (max-width: 996px) {
    
/* INICIO DEL CONTAINER TODO CARRITO */

main{
    width: 100%;
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    font-family: 'Rubik', sans-serif;
    margin-top: 0;
    gap: 20px;
}

.containerTodo{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 90%;
    background-color: #fff;
    box-shadow: 4px 4px 2px 2px rgba(0.2, 0.2, 0.2, 0.2);
    align-items: center;
    margin: 0;
}

.containerTodo h1{
    padding: 10px;
    display: flex;
    font-size: 1em;
}

.containerTodo a{
    color: #000;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerModal{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 5px;
    align-items: center;

    gap: 20px;
    font-size: 1.5em;
}

.container__todo__pagoConfirmado{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.container__todo__pagoConfirmado__sub{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container__todo__pagoConfirmado__sub a{
    height: 50px;
}

.iconoCruz{
    color: #b82222;
    width: 300px;
    height: 300px;
}

.iconoCheck{
    color: rgb(68, 129, 68);
    width: 300px;
    height: 300px;
}

/* FIN DEL CONTAINER TODO CARRITO */


/* INICIO DEL FOOTER */
footer{
    background: linear-gradient(to bottom, black, #575353);
    color: white;
    display: flex;
    width: 100%;
    height: 120px;
    position: relative;
    bottom: 0;
}

footer p{
    align-self: center;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}
/* FIN DEL FOOTER */

}