@import url(headerUser.css);
@import url(menuLogin.css);

* {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

html, body{
    min-width: 100vw;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
    background: radial-gradient(circle, #fff, #bbb);
    display: flex;
    flex-direction: column;
}    

a{
    text-decoration: none;
    color: white;
}

nav a{   
    font-weight: 600;
    display: inline-block;
}

/* IMAGEN DE CARGA DE INICIO */
.imagen-carga{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    animation: opac ease-out 2s;
    animation-fill-mode: forwards;
    z-index: 70;
    background-color: #252121;
    align-items: center;
}

.imagen-carga img{
    margin-right: auto;
    margin-left: auto;
    min-width: 350px;
    min-height: 350px;
    animation: opac ease-out 2s;
    animation-fill-mode: forwards;
}


/* INICIO DEL MAIN */

main{
    width: 100%;
    height: auto;
    min-height: 100%;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

/* INICIO DEL CONTAINER VISITA */

.containerVisita{
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.redesVisita{
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
    gap: 20px;
}

.redesVisita li{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.redesVisitaIcon{
    width: 60px;
    height: 60px;
    color: #000;
}

/* FIN DEL CONTAINER VISITA */

/* INICIO DEL GRID */

.container-items{
    color: #333;
    display: grid;
    font-family: 'Lato';
    gap: 10px;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: 5fr;
    width: auto;
    height: auto;
    margin: 30px 30px 30px 10px;
    float: right;
    order: 1;
    text-align: center;
}

.item{
    display: flex;
    flex-direction: column;
    min-height: 300px;
    height: auto;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    transition: background-color 2s;
    overflow: hidden;
}

#prdDestacado{
    grid-column-start: 1;
    grid-column-end: 5;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 20);
}

figure{
    width: 100%;
    height: 100%;
}

figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item img:hover{
    transform: scale(1.2);
}

.info-producto{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 15px;
    justify-content: space-between;
}

.info-producto h2{
    font-size: 1vw;
}

.precio{
    font-size: .9vw;
    font-weight: 900;
}

.info-producto-submit{
    border: none;
    background-color: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
    width: 100%;
    position: relative;
    text-align: center;
}

.item figure{
    overflow: hidden;
    border-radius: 10px 0 0 10px;
}

.item__contacto{
    padding: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.item__contacto li{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 5px;
    position: relative;
}


/* FIN DEL GRID */

/* FIN DEL MAIN */

/* INICIO DEL FOOTER */
footer{
    background: linear-gradient(to bottom, black, #575353);
    color: white;
    display: flex;
    width: 100%;
    height: 120px;
    position: relative;
    bottom: 0;
}

footer p{
    align-self: center;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}
/* FIN DEL FOOTER */


/* ANIMACIONES */
@keyframes opac {
    0% {opacity: 1;}
    10% {opacity: 1;}
    20% {opacity: 1;}
    80% {opacity: 1;}
    90% {opacity: .5;}
    100% {opacity: 0;visibility: hidden;}
}


/* INICIO DEL RESPONSIVE DESIGN 996px */
@media screen and (max-width: 996px){

/* INICIO DEL MAIN */

main{
    width: 100%;
    height: auto;
    min-height: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

/* INICIO DEL CONTAINER VISITA */

.containerVisita{
    width: 90%;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.redesVisita{
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
    gap: 20px;
}

.redesVisita li{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.redesVisitaIcon{
    width: 60px;
    height: 60px;
    color: #000;
}

/* FIN DEL CONTAINER VISITA */

/* INICIO DEL GRID */

.container-items{
    color: #333;
    display: grid;
    width: 90%;
    font-family: 'Lato';
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 8fr;
    width: auto;
    height: auto;
    margin: 30px 30px 30px 10px;
    float: right;
    order: 1;
    text-align: center;
}

.item{
    display: flex;
    flex-direction: column;
    min-height: 300px;
    min-height: 400px;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    transition: background-color 2s;
    overflow: hidden;
}

#prdDestacado{
    grid-column-start: 1;
    grid-column-end: 5;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 20);
}

figure{
    width: 100%;
    min-height: 40%;
}

figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item img:hover{
    transform: scale(1.2);
}

.info-producto{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 15px;
    justify-content: space-between;
}

.info-producto h2{
    font-size: 1em;
}

.precio{
    font-size: .8em;
    font-weight: 900;
}

.info-producto-submit{
    border: none;
    background-color: none;
    background-color: #000;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    height: 20%;
    font-size: .6em;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.item figure{
    overflow: hidden;
    border-radius: 10px 0 0 10px;
}

.item__contacto{
    padding: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    font-size: .7em;
}

.item__contacto li{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 5px;
    position: relative;
}


/* FIN DEL GRID */

/* FIN DEL MAIN */

/* INICIO DEL FOOTER */
footer{
    background: linear-gradient(to bottom, black, #575353);
    color: white;
    display: flex;
    width: 100%;
    height: 120px;
    position: relative;
    bottom: 0;
}

footer p{
    align-self: center;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}
/* FIN DEL FOOTER */

}



/* INICIO DEL RESPONSIVE DESIGN 588px*/
@media screen and (max-width: 588px){

/* INICIO DEL MAIN */

main{
    width: 100%;
    height: auto;
    min-height: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

/* INICIO DEL CONTAINER VISITA */

.containerVisita{
    width: 90%;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.redesVisita{
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
    gap: 20px;
}

.redesVisita li{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.redesVisitaIcon{
    width: 60px;
    height: 60px;
    color: #000;
}

/* FIN DEL CONTAINER VISITA */

/* INICIO DEL GRID */

.container-items{
    color: #333;
    display: grid;
    width: 100%;
    font-family: 'Lato';
    gap: 10px;
    grid-template-columns: repeat(4, 100%);
    width: auto;
    height: auto;
    margin: 30px 10px;
    float: right;
    order: 1;
    text-align: center;
    overflow-x: scroll;
}

.item{
    display: flex;
    flex-direction: column;
    min-height: 300px;
    min-height: 400px;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    transition: background-color 2s;
    overflow: hidden;
}

#prdDestacado{
    display: none;
    grid-column-start: 1;
    grid-column-end: 5;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 20);
}

figure{
    width: 100%;
    min-height: 40%;
}

figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item img:hover{
    transform: scale(1.2);
}

.info-producto{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 15px;
    justify-content: space-between;
}

.info-producto h2{
    font-size: 1em;
}

.precio{
    font-size: 1.5em;
    font-weight: 900;
    color: green;
}

.info-producto-submit{
    border: none;
    background-color: none;
    background-color: #000;
    color: #fff;
    padding: 20px;
    cursor: pointer;
    width: 100%;
    height: 20%;
    font-size: .6em;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.item figure{
    overflow: hidden;
    border-radius: 10px 0 0 10px;
}

.item__contacto{
    padding: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    font-size: .7em;
}

.item__contacto li{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 5px;
    position: relative;
}


/* FIN DEL GRID */

/* FIN DEL MAIN */

/* INICIO DEL FOOTER */
footer{
    background: linear-gradient(to bottom, black, #575353);
    color: white;
    display: flex;
    width: 100%;
    height: 120px;
    position: relative;
    bottom: 0;
}

footer p{
    align-self: center;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}
/* FIN DEL FOOTER */

}