@import url(headerUser.css);
@import url(menuLogin.css);
@import url(estilo-modalCerrarSesion.css);

* {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

html, body{
    min-width: 100vw;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
    background: radial-gradient(circle, #fff, #bbb);
    display: flex;
    flex-direction: column;
}    

a{
    text-decoration: none;
    color: white;
}

nav a{   
    font-weight: 600;
    display: inline-block;
}

/* IMAGEN DE CARGA DE INICIO */
.imagen-carga{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    animation: opac ease-out 2s;
    animation-fill-mode: forwards;
    z-index: 70;
    background-color: #252121;
    align-items: center;
}

.imagen-carga img{
    margin-right: auto;
    margin-left: auto;
    min-width: 350px;
    min-height: 350px;
    animation: opac ease-out 2s;
    animation-fill-mode: forwards;
}

/* INICIO DEL MAIN */

main{
    width: 100%;
    height: auto;
    min-height: 100%;
    margin-top: 130px;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: start;
}

.container__todo{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80vh;
    margin: 30px;
    box-shadow: 10px 5px 5px rgb(54, 54, 54);
}

.container__todo__sub{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.container__todo__sub a{
    text-align: center;
    color: #000;
}

/* INICIO DEL CONTAINER SUBIR COMPROBANTE */

.container__todo__sub__subirComprobante{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
}

.container__todo__sub__subirComprobante--input{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #333;
    border: 2px solid #fff;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.container__todo__sub__subirComprobante--input label{
    color: #fff;
    font-size: 2em;
}

#inputCompro{
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    position: absolute;
}

#inputSubirCompro{
    height: 50px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 10;
    font-size: 1.5em;
}

#inputSubirCompro:hover{
    color: green;
}

.iconoSubirCompro{
    color: #fff;
    width: 200px;
    height: 200px;
}

/* FIN DEL CONTAINER SUBIR COMPROBANTE */

/* FIN DEL MAIN */

/* INICIO DEL FOOTER */
footer{
    background: linear-gradient(to bottom, black, #575353);
    color: white;
    display: flex;
    width: 100%;
    height: 120px;
    position: relative;
    bottom: 0;
}

footer p{
    align-self: center;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}
/* FIN DEL FOOTER */


/* ANIMACIONES */
@keyframes opac {
    0% {opacity: 1;}
    10% {opacity: 1;}
    20% {opacity: 1;}
    80% {opacity: 1;}
    90% {opacity: .5;}
    100% {opacity: 0;visibility: hidden;}
}




/* INICIO DEL RESPONSIVE DESIGN 996px */
@media screen and (max-width: 996px){


/* INICIO DEL MAIN */

main{
    width: 100%;
    height: auto;
    min-height: 100%;
    margin-top: 0;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: start;
}

.container__todo{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 90%;
    margin: 30px;
    box-shadow: 10px 5px 5px rgb(54, 54, 54);
}

.container__todo__sub{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.container__todo__sub a{
    text-align: center;
    color: #000;
}

/* INICIO DEL CONTAINER SUBIR COMPROBANTE */

.container__todo__sub__subirComprobante{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
}

.container__todo__sub__subirComprobante--input{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #333;
    border: 2px solid #fff;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.container__todo__sub__subirComprobante--input label{
    color: #fff;
    font-size: 2em;
}

#inputCompro{
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    position: absolute;
}

#inputSubirCompro{
    height: 50px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 10;
    font-size: 1.5em;
}

#inputSubirCompro:hover{
    color: green;
}

.iconoSubirCompro{
    color: #fff;
    width: 200px;
    height: 200px;
}

/* FIN DEL CONTAINER SUBIR COMPROBANTE */

/* FIN DEL MAIN */

/* INICIO DEL FOOTER */
footer{
    background: linear-gradient(to bottom, black, #575353);
    color: white;
    display: flex;
    width: 100%;
    height: 120px;
    position: relative;
    bottom: 0;
}

footer p{
    align-self: center;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}
/* FIN DEL FOOTER */
}


/* INICIO DEL RESPONSIVE DESIGN 514px */
@media screen and (max-width: 514px){

/* INICIO DEL MAIN */

main{
    width: 100%;
    height: auto;
    min-height: 100%;
    margin-top: 0;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: start;
}

.container__todo{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 95%;
    margin: 5px;
    box-shadow: 10px 5px 5px rgb(54, 54, 54);
}

.container__todo__sub{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.container__todo__sub a{
    text-align: center;
    color: #000;
}

/* INICIO DEL CONTAINER SUBIR COMPROBANTE */

.container__todo__sub__subirComprobante{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
}

.container__todo__sub__subirComprobante--input{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #333;
    border: 2px solid #fff;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.container__todo__sub__subirComprobante--input label{
    color: #fff;
    font-size: 2em;
}

#inputCompro{
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    position: absolute;
}

#inputSubirCompro{
    height: 50px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 10;
    font-size: 1.5em;
}

#inputSubirCompro:hover{
    color: green;
}

.iconoSubirCompro{
    color: #fff;
    width: 200px;
    height: 200px;
}

/* FIN DEL CONTAINER SUBIR COMPROBANTE */

/* FIN DEL MAIN */

/* INICIO DEL FOOTER */
footer{
    background: linear-gradient(to bottom, black, #575353);
    color: white;
    display: flex;
    width: 100%;
    height: 120px;
    position: relative;
    bottom: 0;
}

footer p{
    align-self: center;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}
/* FIN DEL FOOTER */
}


