@import url(headerUser.css);
@import url(menuLogin.css);
@import url(estilo-modalCerrarSesion.css);

* {
    margin: 0;
    box-sizing: border-box;
}

html, body{
    min-width: 100vw;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
    background: radial-gradient(circle, #fff, #bbb);
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: white;
}

nav a{   
    font-weight: 600;
    display: inline-block;
}

/* INICIO DEL DIV DE ERROR */

.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    gap: 10px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: #b82222;
    border: 4px solid #fff;
    color: #fff;
    border-radius: 20px;
    z-index: 70;
}

.error p{
    cursor: pointer;
}

.errorCerrar{
    display: none;
}

.error .error__icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #fff;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    color: #000;
}

.error .error__icon-close:hover{
    color: red;
}

.errorFondo{
    display: block;
    background-color: #00000029;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

/* FIN DEL DIV DE ERROR */

/* INICIO DEL TIMELAPSE */

.container__timelapse{
    display: flex;
    width: 80%;
    height: 100px;
    background-color: #fff;
    position: relative;
}

.container__timelapse{
    font-size: .7em;
}

.container__timelapse__productos{
    display: flex;
    text-align: center;
    width: 35%;
    height: 100%;
    background-color: #000;
    color: #fff;
    position: absolute;
}

.container__timelapse__productos h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    opacity: 50%;
}

.container__timelapse__envio{
    display: flex;
    text-align: center;
    width: 35%;
    height: 100%;
    background-color: #000;
    color: #fff;
    position: absolute;
    left: 25%;
}

.container__timelapse__envio h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    opacity: 50%;
}

.container__timelapse__pago{
    display: flex;
    text-align: center;
    width: 35%;
    height: 100%;
    background-color: #000;
    color: #fff;
    position: absolute;
    left: 50%;
}

.container__timelapse__pago h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    opacity: 50%;
}

.container__timelapse__confirmarCompra{
    display: flex;
    text-align: center;
    width: 26.5%;
    height: 100%;
    background-color: #000;
    color: #fff;
    position: absolute;
    left: 73.5%;
}

.container__timelapse__confirmarCompra h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

/* FIN DEL TIMELAPSE */


/* INICIO DEL CONTAINER TODO CARRITO */

main{
    width: 100%;
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-family: 'Rubik', sans-serif;
    margin-top: 120px;
    gap: 20px;
}

.container__sinProductosCarrito{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.containerTodo{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    background-color: #fff;
    box-shadow: 4px 4px 2px 2px rgba(0.2, 0.2, 0.2, 0.2);
    align-items: center;
    margin-bottom: 5%;
}

.containerTodo h1{
    padding: 10px;
    display: flex;
}

.containerTodo a{
    color: #000;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerModal{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    align-items: center;
    gap: 20px;
    font-size: 1.5em;
}

.container__siguente{
    display: flex;
    height: 40px;
    font-size: .8em;
}

#contadorSiguiente{
    cursor: pointer;
}

#contadorSiguiente:hover{
    color: rgb(33, 158, 100);
}

#anterior{
    align-items: center;
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#contadorSiguienteInput{
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.container__siguente input:hover{
    color: rgb(33, 158, 100);
}

#anterior{
    display: none;
}

#anterior:hover{
    color: #b82222;
}

#TOTAL{
    display: flex;
}

/* FIN DEL CONTAINER TODO CARRITO */

/* INICIO DEL CONTAINER TABLA */

.container__todo__tabla{
    table-layout: fixed;
    overflow-wrap: break-word;
    width: 90%;
    height: auto;
    border: 4px solid #000;
}

.container__todo__tabla--primerFila{
    background-color: #000;
    color: #fff;
    height: 100px;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
}

.container__todo__tabla--segundaFila{
    height: 50px;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    background-color: rgb(248, 247, 247);
    color: #000;
}

.container__todo__tabla--segundaFila td{
    padding: 10px;
    border-left: none;
    border-right: none;
}

.container__todo__tabla--tercerFila td{
    text-align: center;
    width: 200px;   
    font-size: 2.5em;
    font-weight: 800;
    border-top: 1px solid #000;
}

#filaEnvio td{
    font-size: 1.5em;
}

caption{
    border: 4px solid #000;
    border-bottom: none;
}

/* FIN DEL CONTAINER TABLA */

/* INICIO CONTAINER CBU */

.container__todo__banco{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, black, #575353);
}

.container__todo__banco__sub{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    outline: 3px solid #000;
    gap: 40px;
}

.container__todo__banco__sub h4{
    text-align: center;
}

.container__todo__banco__sub--datos{
    display: flex;
    flex-direction: column;
}

.container__sub__4--imagenNueva{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    position: relative;
    background-color: #d69b42;
}

.container__sub__4--imagenNueva label{
    display: flex;
    position: absolute;
    font-size: 1em;
    color: #fff;
    gap: 10px;
}

.container__sub__4--imagenNueva input{
    width: 100%;
    height: 100%;
    opacity: 0;
}

.container__todo__banco__sub--confirmar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container__todo__banco__sub--confirmar input:hover{
    background-color: #000;
    color: #fff;
}

.container__todo__banco__sub--confirmar input{
    background-color: #fff;
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: 1em;
}

/* FIN CONTAINER CBU */

/* INICIO DEL CONTAINER CAMBIAR ENVIO Y PAGO */

.container__cambiar__envioPago{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 20px;
}

.container__cambiar__envioPago a{
    height: 100%;
}

.container__cambiar__envioPago--sub a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.iconosEnvioPago{
    width: 5rem;
    height: 5rem;
}

/* FIN DEL CONTAINER CAMBIAR ENVIO Y PAGO */

/* INICIO DEL FOOTER */
footer{
    background: linear-gradient(to bottom, black, #575353);
    color: white;
    display: flex;
    width: 100%;
    height: 120px;
    position: relative;
    bottom: 0;
}

footer p{
    align-self: center;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}
/* FIN DEL FOOTER */




/* INICIO DEL RESPONSIVE DESIGN */

@media screen and (max-width: 996px) {

/* INICIO DEL TIMELAPSE */

.container__timelapse{
    display: flex;
    width: 80%;
    height: 100px;
    background-color: #fff;
    position: relative;
    font-size: 10px;
}

.container__timelapse__productos{
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    position: relative;
    left: 0;
}

.container__timelapse__productos h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container__timelapse__envio{
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    position: relative;
    left: 0;
}

.container__timelapse__envio h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 50%;
}

.container__timelapse__pago{
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    position: relative;
    left: 0;
}

.container__timelapse__pago h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 50%;
}

.container__timelapse__confirmarCompra{
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    position: relative;
    left: 0;
}

.container__timelapse__confirmarCompra h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    opacity: 50%;
}

/* FIN DEL TIMELAPSE */


/* INICIO DEL CONTAINER TODO CARRITO */

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 100vh;
    justify-content: start;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    margin-top: 50px;
}

.container__sinProductosCarrito{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.containerTodo{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    background-color: #fff;
    box-shadow: 4px 4px 2px 2px rgba(0.2, 0.2, 0.2, 0.2);
    align-items: center;
    margin-bottom: 5%;
}

.containerTodo h1{
    padding: 10px;
    display: flex;
}

.containerTodo a{
    color: #000;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerModal{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    align-items: center;
    gap: 20px;
    font-size: 1.5em;
}

.container__siguente{
    display: flex;
    height: 40px;
    font-size: .8em;
}

#contadorSiguiente{
    cursor: pointer;
}

#contadorSiguiente:hover{
    color: rgb(33, 158, 100);
}

#anterior{
    align-items: center;
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#contadorSiguienteInput{
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.container__siguente input:hover{
    color: rgb(33, 158, 100);
}

#anterior{
    display: none;
}

#anterior:hover{
    color: #b82222;
}

#TOTAL{
    display: flex;
}

/* FIN DEL CONTAINER TODO CARRITO */

/* INICIO DEL CONTAINER TABLA */

.container__todo__tabla{
    table-layout: fixed;
    overflow-wrap: break-word;
    width: 90%;
    height: auto;
    border: 4px solid #000;
}

.container__todo__tabla--primerFila{
    background-color: #000;
    color: #fff;
    height: 100px;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
}

.container__todo__tabla--segundaFila{
    height: 50px;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
}

.container__todo__tabla--segundaFila td{
    padding: 10px;
    font-size: .5em;
}

.container__todo__tabla--tercerFila td{
    text-align: center;
    width: 200px;   
    font-size: 2.5em;
    font-weight: 800;
    border-top: 1px solid #000;
}

#filaEnvio td{
    font-size: 1.5em;

}

/* FIN DEL CONTAINER TABLA */

/* INICIO CONTAINER CBU */

.container__todo__banco{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
}

.container__todo__banco__sub{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    outline: 3px solid #000;
    gap: 40px;
}

.container__todo__banco__sub h4{
    text-align: center;
}

.container__todo__banco__sub--datos{
    display: flex;
    flex-direction: column;
}

.container__todo__banco__sub--factura{
    display: flex;
    flex-direction: column;
}

.container__todo__banco__sub--factura input{
    display: flex;
    height: 50px;
}

.container__todo__banco__sub--confirmar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container__todo__banco__sub--confirmar input:hover{
    background-color: #000;
    color: #fff;
}

.container__todo__banco__sub--confirmar input{
    background-color: #fff;
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: 1em;
}

/* FIN CONTAINER CBU */

/* INICIO DEL CONTAINER CAMBIAR ENVIO Y PAGO */

.container__cambiar__envioPago{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 20px;
}

.container__cambiar__envioPago a{
    height: 100%;
}

.container__cambiar__envioPago--envio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.container__cambiar__envioPago--pago{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.iconosEnvioPago{
    width: 120px;
    height: 120px;
}

/* FIN DEL CONTAINER CAMBIAR ENVIO Y PAGO */

/* INICIO DEL FOOTER */
footer{
    background: linear-gradient(to bottom, black, #575353);
    color: white;
    display: flex;
    width: 100%;
    height: 120px;
    position: relative;
    bottom: 0;
}

footer p{
    align-self: center;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}
/* FIN DEL FOOTER */

}


@media screen and (max-width: 702px) {

/* INICIO DEL TIMELAPSE */

.container__timelapse{
    display: flex;
    width: 95%;
    height: 100px;
    background-color: #fff;
    position: relative;
    font-size: 10px;
}

.container__timelapse__productos{
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    position: relative;
    left: 0;
}

.container__timelapse__productos h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container__timelapse__envio{
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    position: relative;
    left: 0;
}

.container__timelapse__envio h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 50%;
}

.container__timelapse__pago{
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    position: relative;
    left: 0;
}

.container__timelapse__pago h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 50%;
}

.container__timelapse__confirmarCompra{
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    position: relative;
    left: 0;
}

.container__timelapse__confirmarCompra h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    opacity: 50%;
}

/* FIN DEL TIMELAPSE */


/* INICIO DEL CONTAINER TODO CARRITO */

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 100vh;
    justify-content: start;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    margin-top: 50px;
}

.container__sinProductosCarrito{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.containerTodo{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    background-color: #fff;
    box-shadow: 4px 4px 2px 2px rgba(0.2, 0.2, 0.2, 0.2);
    align-items: center;
    margin-bottom: 5%;
}

.containerTodo h1{
    padding: 10px;
    display: flex;
}

.containerTodo a{
    color: #000;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerModal{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 5px;
    align-items: center;
    gap: 20px;
    font-size: 1.5em;
}

.container__siguente{
    display: flex;
    height: 40px;
    font-size: .8em;
}

#contadorSiguiente{
    cursor: pointer;
}

#contadorSiguiente:hover{
    color: rgb(33, 158, 100);
}

#anterior{
    align-items: center;
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#contadorSiguienteInput{
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.container__siguente input:hover{
    color: rgb(33, 158, 100);
}

#anterior{
    display: none;
}

#anterior:hover{
    color: #b82222;
}

#TOTAL{
    display: flex;
}

/* FIN DEL CONTAINER TODO CARRITO */

/* INICIO DEL CONTAINER TABLA */

.container__todo__tabla{
    table-layout: fixed;
    overflow-wrap: break-word;
    width: 100%;
    height: auto;
    border: 4px solid #000;
}

.container__todo__tabla--primerFila{
    background-color: #000;
    color: #fff;
    height: 100px;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
}

.container__todo__tabla--segundaFila{
    height: 50px;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
}

.container__todo__tabla--segundaFila td{
    padding: 10px;
    font-size: .5em;
}

.container__todo__tabla--tercerFila td{
    text-align: center;
    width: 200px;   
    font-size: 2.5em;
    font-weight: 800;
    border-top: 1px solid #000;
}

#filaEnvio td{
    font-size: 1.5em;

}

/* FIN DEL CONTAINER TABLA */

/* INICIO CONTAINER CBU */

.container__todo__banco{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
}

.container__todo__banco__sub{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    outline: 3px solid #000;
    gap: 40px;
}

.container__todo__banco__sub h4{
    text-align: center;
}

.container__todo__banco__sub--datos{
    display: flex;
    flex-direction: column;
}

.container__todo__banco__sub--factura{
    display: flex;
    flex-direction: column;
}

.container__todo__banco__sub--factura input{
    display: flex;
    height: 50px;
}

.container__todo__banco__sub--confirmar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container__todo__banco__sub--confirmar input:hover{
    background-color: #000;
    color: #fff;
}

.container__todo__banco__sub--confirmar input{
    background-color: #fff;
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: 1em;
}

/* FIN CONTAINER CBU */

/* INICIO DEL CONTAINER CAMBIAR ENVIO Y PAGO */

.container__cambiar__envioPago{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.container__cambiar__envioPago a{
    height: 100%;
}

.container__cambiar__envioPago--envio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.container__cambiar__envioPago--pago{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.iconosEnvioPago{
    width: 110px;
    height: 110px;
}

/* FIN DEL CONTAINER CAMBIAR ENVIO Y PAGO */

/* INICIO DEL FOOTER */
footer{
    background: linear-gradient(to bottom, black, #575353);
    color: white;
    display: flex;
    width: 100%;
    height: 120px;
    position: relative;
    bottom: 0;
}

footer p{
    align-self: center;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}
/* FIN DEL FOOTER */

}