@import url(headerUser.css);

* {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

html, body{
    min-width: 100vw;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
    background: radial-gradient(circle, #fff, #bbb);
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
    padding: 0;
}

h6{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a{   
    font-weight: 600;
    display: inline-block;
}

/* DETALLE DE PRODUCTO */

main{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
}

.containerTodo{
    display: flex;
    flex-direction: column;
    min-width: 30%;
    max-width: 60%;
    min-height: 80%;
    height: auto;
    background-color: #fff;
    box-shadow: 4px 4px 2px 2px rgba(0.2, 0.2, 0.2, 0.2);
    margin-top: 120px;
}

.containerTodo a{
    color: #000;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerModal{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #fff;
}

.containerModal__imagenes{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.imagenPrincipal{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imagenPrincipal h1{
    text-align: center;
}

.imagenPrincipal img{
    width: 100%;
    height: 100%;
    transition: all .3s;
}

.imagenPrincipal__sub{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.imagenesSecundarias{
    width: 100%;
    display: flex;
    height: auto;
    display: flex;
    list-style: none;
    padding: 10px;
    align-items: baseline;
}

#imgSecuAct{
    padding: 10px 0;
    text-align: center;
}

.imagenesSecundarias li{
    width: 33.3%;
    height: 100%;
}

.imagenesSecundarias li img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.imagenesSecundarias__sub{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.containerModalInfo{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#titulo{
    font-size: 2.5vw;
    width: 100%;
}

#precio{
    height: 100%;
    font-size: 1.4vw;
}

.containerModalInfoDetalles{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.containerModalInfoGarantias{
    list-style: none;
}

.containerModalInfoGarantias li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.containerModalInfoPrecioCantidad{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    gap: 15px;
}

.containerModalInfoPrecioCantidad__precio{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    padding: 5px 0;
    text-align: center;
}

.containerModalInfoPrecioCantidad__descripcion{
    display: flex;
    flex-direction: column;
}

.containerModalInfoPrecioCantidad__descripcion textarea{
    width: 100%;
    resize: none;
}

.containerModalInfoPrecioCantidad__cantidad{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    height: 40px;
}

.containerModalInfoPrecioCantidad__cantidad input{
    height: 100%;
    width: 50px;
}

.containerModalInfoEstado{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.containerModalInfoEstado select{
    width: 100%;
    height: 30px;
}

.containerModalInfoConfig{
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.containerModalInfoConfig h3{
    font-size: 1.7vw;
    text-align: center;
}

.containerModalInfoConfig p{
    font-size:  1.3vw;
    display: flex;
    align-items: center;
    gap: 10px;
}

.containerModalInfoConfig li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.containerModalInfoConfig input{
    width: 100%;
    height: 100%;
}

.containerModalInfoConfig li img{
    width: 2.1vw;
    height: 2.1vw;
}

.containerModalInfoButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

#agregarCarrito{
    border: none;
    background-color: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
    width: 200px;
    position: relative;
}

/* INICIO DE LA PARTE MICROPROCESADOR */

.containerModalInfoConfig__micro{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.containerModalInfoConfig__micro ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.containerModalInfoConfig__micro ul li{
    display: flex;
    justify-content: space-between;
}

.containerModalInfoConfig__micro input[type="text"], select{
    height: 30px;
}

.containerModalInfoConfig__micro input[type="number"]{
    height: 40px;
    width: 50px;
}

.containerModalInfoConfig__micro h4{
    border-bottom: 1px solid #000;
}

/* FIN DE LA PARTE MICROPROCESADOR */

/* INICIO DE LA PARTE MOTHERBOARD */

.containerModalInfoConfig__mother{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.containerModalInfoConfig__mother ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.containerModalInfoConfig__mother ul li{
    display: flex;
    justify-content: space-between;
}

.containerModalInfoConfig__mother input[type="text"], select{
    height: 30px;
}

.containerModalInfoConfig__mother input[type="number"]{
    height: 40px;
    width: 50px;
}

.containerModalInfoConfig__mother h4{
    border-bottom: 1px solid #000;
}

.containerModalInfoConfig__mother--caracteristicasGeneralesMemoria{
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
}

/* FIN DE LA PARTE MOTHERBOARD */

/* INICIO DE LA PARTE MEMORIA RAM */

.containerModalInfoConfig__ram{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.containerModalInfoConfig__ram ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.containerModalInfoConfig__ram ul li{
    display: flex;
    justify-content: space-between;
}

.containerModalInfoConfig__ram input[type="text"], select{
    height: 30px;
}

.containerModalInfoConfig__ram input[type="number"]{
    height: 40px;
    width: 50px;
}

.containerModalInfoConfig__ram h4{
    border-bottom: 1px solid #000;
}

/* FIN DE LA PARTE MEMORIA RAM */

/* INICIO DE LA PARTE PLACA DE VIDEO */

.containerModalInfoConfig__placaVideo{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.containerModalInfoConfig__placaVideo ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.containerModalInfoConfig__placaVideo ul li{
    display: flex;
    justify-content: space-between;
}

.containerModalInfoConfig__placaVideo input[type="text"], select{
    height: 30px;
}

.containerModalInfoConfig__placaVideo input[type="number"]{
    height: 40px;
    width: 50px;
}

.containerModalInfoConfig__placaVideo h4{
    border-bottom: 1px solid #000;
}

/* FIN DE LA PARTE PLACA DE VIDEO */

/* INICIO DE LA PARTE DISCO DURO */

.containerModalInfoConfig__discoDuro{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.containerModalInfoConfig__discoDuro ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.containerModalInfoConfig__discoDuro ul li{
    display: flex;
    justify-content: space-between;
}

.containerModalInfoConfig__discoDuro input[type="text"], select{
    height: 30px;
}

.containerModalInfoConfig__discoDuro input[type="number"]{
    height: 40px;
    width: 50px;
}

.containerModalInfoConfig__discoDuro h4{
    border-bottom: 1px solid #000;
}

/* FIN DE LA PARTE DISCO DURO */

/* INICIO DE LA PARTE DISCO SOLIDO */

.containerModalInfoConfig__discoSolido{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.containerModalInfoConfig__discoSolido ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.containerModalInfoConfig__discoSolido ul li{
    display: flex;
    justify-content: space-between;
}

.containerModalInfoConfig__discoSolido input[type="text"], select{
    height: 30px;
}

.containerModalInfoConfig__discoSolido input[type="number"]{
    height: 40px;
    width: 50px;
}

.containerModalInfoConfig__discoSolido h4{
    border-bottom: 1px solid #000;
}

/* FIN DE LA PARTE DISCO SOLIDO */

/* INICIO DE LA PARTE FUENTE */

.containerModalInfoConfig__fuente{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.containerModalInfoConfig__fuente ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.containerModalInfoConfig__fuente ul li{
    display: flex;
    justify-content: space-between;
}

.containerModalInfoConfig__fuente input[type="text"], select{
    height: 30px;
}

.containerModalInfoConfig__fuente input[type="number"]{
    height: 40px;
    width: 50px;
}

.containerModalInfoConfig__fuente h4{
    border-bottom: 1px solid #000;
}

/* FIN DE LA PARTE FUENTE */

/* INICIO DEL FOOTER */
footer{
    background: linear-gradient(to bottom, black, #575353);
    color: white;
    display: flex;
    width: 100%;
    height: 120px;
    position: relative;
    bottom: 0;
}

footer p{
    align-self: center;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}
/* FIN DEL FOOTER */




/* INICIO DEL RESPONSIVE DESIGN */

@media screen and (max-width: 996px) {
    

/* DETALLE DE PRODUCTO */

main{
    margin-top: 10px;
}

.containerTodo{
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 80%;
    height: auto;
    background-color: #fff;
    box-shadow: 4px 4px 2px 2px rgba(0.2, 0.2, 0.2, 0.2);
    margin: 0;
}

.containerTodo a{
    color: #000;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #fff;
}

.containerModalInfo h1{
    font-size: 6.3vw;
}

.containerModal__imagenes{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.imagenPrincipal{
    height: 40%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagenPrincipal img{
    width: 100%;
    height: 100%;
    transition: all .3s;
}

.imagenPrincipal img:hover{
    transform: scale(1.2);
}

.imagenPrincipal__sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.imagenesSecundarias{
    width: 100%;
    height: auto;
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.imagenesSecundarias li img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.containerModalInfo{
    width: 100%;
    height: 50%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
}

.containerModalInfoMarcaCodigo{
    font-size: 2.7vw;
}

.containerModalInfoGarantias{
    font-size: 3vw;
}


.containerModalInfoDetalles{
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
    padding-top: 5px;
}

.containerModalInfoGarantias{
    list-style: none;
}

.containerModalInfoGarantias li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.containerModalInfoPrecioCantidad{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    gap: 15px;
    padding: 10px 0;
}

.containerModalInfoPrecioCantidad__precio{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    justify-content: center;
}

.containerModalInfoPrecioCantidad__precio h2{
    font-size: 45px;
}

.containerModalInfoPrecioCantidad__cantidad{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 15px;
}

.containerModalInfoPrecioCantidad__cantidad input{
    height: 100%;
    width: 50px;
}

.containerModalInfoConfig{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.containerModalInfoConfig h3{
    flex-basis: 100%;
    text-align: center;
    font-size: 4.5vw;
}

.containerModalInfoConfig p{
    font-size:  3.5vw;
}

.containerModalInfoConfig li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.containerModalInfoConfig li img{
    width: 10vw;
    height: 10vw;
}

.containerModalInfoButton{
    display: flex;
    width: 100%;
    padding: 10px 0;
}

#agregarCarrito{
    border: none;
    background-color: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
    width: 100%;
    height: auto;
    position: relative;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerTodo a{
    font-size: 10px;
    padding: 10px 0;
}

.containerModalInfoConfig__micro{
    flex-direction: column;
}

/* INICIO DE LA PARTE MOTHERBOARD */

.containerModalInfoConfig__mother{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.containerModalInfoConfig__mother ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.containerModalInfoConfig__mother ul li{
    display: flex;
    justify-content: space-between;
}

.containerModalInfoConfig__mother input[type="text"], select{
    height: 30px;
}

.containerModalInfoConfig__mother input[type="number"]{
    height: 40px;
    width: 50px;
}

.containerModalInfoConfig__mother h4{
    border-bottom: 1px solid #000;
}

.containerModalInfoConfig__mother--caracteristicasGeneralesMemoria{
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
}

/* FIN DE LA PARTE MOTHERBOARD */

/* INICIO DE LA PARTE MEMORIA RAM */

.containerModalInfoConfig__ram{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.containerModalInfoConfig__ram ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.containerModalInfoConfig__ram ul li{
    display: flex;
    justify-content: space-between;
}

.containerModalInfoConfig__ram input[type="text"], select{
    height: 30px;
}

.containerModalInfoConfig__ram input[type="number"]{
    height: 40px;
    width: 50px;
}

.containerModalInfoConfig__ram h4{
    border-bottom: 1px solid #000;
}

/* FIN DE LA PARTE MEMORIA RAM */

/* INICIO DE LA PARTE PLACA DE VIDEO */

.containerModalInfoConfig__placaVideo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.containerModalInfoConfig__placaVideo ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.containerModalInfoConfig__placaVideo ul li{
    display: flex;
    justify-content: space-between;
}

.containerModalInfoConfig__placaVideo input[type="text"], select{
    height: 30px;
}

.containerModalInfoConfig__placaVideo input[type="number"]{
    height: 40px;
    width: 50px;
}

.containerModalInfoConfig__placaVideo h4{
    border-bottom: 1px solid #000;
}

/* FIN DE LA PARTE PLACA DE VIDEO */

/* INICIO DE LA PARTE DISCO DURO */

.containerModalInfoConfig__discoDuro{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.containerModalInfoConfig__discoDuro ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.containerModalInfoConfig__discoDuro ul li{
    display: flex;
    justify-content: space-between;
}

.containerModalInfoConfig__discoDuro input[type="text"], select{
    height: 30px;
}

.containerModalInfoConfig__discoDuro input[type="number"]{
    height: 40px;
    width: 50px;
}

.containerModalInfoConfig__discoDuro h4{
    border-bottom: 1px solid #000;
}

/* FIN DE LA PARTE DISCO DURO */

/* INICIO DE LA PARTE DISCO SOLIDO */

.containerModalInfoConfig__discoSolido{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.containerModalInfoConfig__discoSolido ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.containerModalInfoConfig__discoSolido ul li{
    display: flex;
    justify-content: space-between;
}

.containerModalInfoConfig__discoSolido input[type="text"], select{
    height: 30px;
}

.containerModalInfoConfig__discoSolido input[type="number"]{
    height: 40px;
    width: 50px;
}

.containerModalInfoConfig__discoSolido h4{
    border-bottom: 1px solid #000;
}

/* FIN DE LA PARTE DISCO SOLIDO */

/* INICIO DE LA PARTE FUENTE */

.containerModalInfoConfig__fuente{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.containerModalInfoConfig__fuente ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.containerModalInfoConfig__fuente ul li{
    display: flex;
    justify-content: space-between;
}

.containerModalInfoConfig__fuente input[type="text"], select{
    height: 30px;
}

.containerModalInfoConfig__fuente input[type="number"]{
    height: 40px;
    width: 50px;
}

.containerModalInfoConfig__fuente h4{
    border-bottom: 1px solid #000;
}

/* FIN DE LA PARTE FUENTE */

}