@import url(headerUser.css);
@import url(menuLogin.css);
@import url(estilo-modalCerrarSesion.css);

* {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

html, body{
    min-width: 100vw;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
    background: radial-gradient(circle, #fff, #bbb);
    display: flex;
    flex-direction: column;
}    

a{
    text-decoration: none;
    color: white;
}

nav a{   
    font-weight: 600;
    display: inline-block;
}

/* IMAGEN DE CARGA DE INICIO */
.imagen-carga{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    animation: opac ease-out 2s;
    animation-fill-mode: forwards;
    z-index: 70;
    background-color: #252121;
    align-items: center;
}

.imagen-carga img{
    margin-right: auto;
    margin-left: auto;
    min-width: 350px;
    min-height: 350px;
    animation: opac ease-out 2s;
    animation-fill-mode: forwards;
}

/* INICIO DEL MAIN */

main{
    width: 100%;
    height: auto;
    min-height: 100%;
    margin-top: 130px;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: start;
}

/* CONTAINER ASIDE */


.container__todo__aside{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    padding: 10px;
    height: auto;
    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
}

.container__todo__aside hr{
    border: none;
    border-radius: 0px;
    background-color: rgb(80, 80, 80);
}

.container__infoUser{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-break: break-word;
    padding: 10px;
    cursor: pointer;
}

.container__infoUser:hover{
    opacity: 70%;
}

.container__infoUser h1{
    margin-top: 4px;
}

.iconoAside{
    width: 40px;
    height: 40px;
}

#cerrarSesion:hover{
    background-color: rgb(145, 30, 30);
    opacity: 100%;
}

/* FIN DEL CONTAINER ASIDE */


/* CONTAINER INFO USUARIO */

.container__todo{
    display: flex;
    flex-direction: row;
    width: 1400px;
    min-height: 1000px;
    margin: 30px;
    box-shadow: 10px 5px 5px rgb(54, 54, 54);
}

.container__todo__sub{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
}

.container__sub__2--datos{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

#enviarModificarCambios{
    width: 50%;
    align-self: center;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
}

#enviarModificarCambios:hover{
    background-color: #52a838;
    transition: all 1s;
    border-color: #fff;
    color: #fff;
}

.container__sub__2{
    padding: 10px;
    display: flex;
}

#containerImagenDatos{
    border-bottom: 3px solid #c4bebe;
    border-radius: 4px;
    background: #fff;
    color: #000;
}

.container__sub__3--imagen{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    height: 100%;
}

.container__sub__3--imagen--container{
    width: 100%;
    height: 300px;
    border-radius: 50%;
}

.container__sub__3--imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container__sub__4--imagenNueva{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    position: relative;
    background-color: #d69b42;
}

.container__sub__4--imagenNueva label{
    display: flex;
    position: absolute;
    font-size: 1em;
    color: #fff;
    gap: 10px;
}

.container__sub__4--imagenNueva input{
    width: 100%;
    height: 100%;
    opacity: 0;
}

#cambiarFotoPerfil{
    height: 40px;
    background-color: #52a838;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}

.container__sub__3--datos{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}

.container__sub__4--nombreRol{
text-align: center;
}

.container__sub__4--nombreRol h1{
    font-size: 2.7vw;
}

.container__sub__4--mail{
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 20%;
    width: auto;
    align-items: center;
    font-size: 1.2em;
}

.container__sub__4--mail input{
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    color: #000;
    background-color: transparent;
    font-size: 1.2em;
    width: auto;
}

#hrDatosUser{
    width: 30%;
}

.container__sub__3--provinciaCiudad{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    gap: 10px;
    position: relative;
}

.container__sub__3--provinciaCiudad input{
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}

#containerProvinciaCiudad{
    height: auto;
}

.container__sub__4--provincia{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2vw;
    width: 50%;
    height: auto;
}

.container__sub__4--provincia select{
    height: 40px;
    border-radius: 4px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.container__sub__4--ciudad{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 50%;
}

.container__sub__4--ciudad label{
    position: absolute;
    bottom: -5px;
    padding: 5px;
    font-size: 1.5em;
    transition: all .2s;
    font-weight: 500;
    pointer-events: none;
}

.container__sub__4--ciudad input:focus + label,
.container__sub__4--ciudad input:valid + label {
    bottom: 55%;
    border: none;
    font-size: 1em;
}

.container__sub__4--ciudad input{
    height: 40px;
}

hr{
    background-color: #c4bebe;
    height: 4px;
    border: 1px solid #5870db29;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.container__sub__3--calleAltura {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
    position: relative;
}

.container__sub__3--calleAltura input {
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}

.container__sub__3--calleAltura label {
    position: absolute;
    bottom: -5px;
    padding: 5px;
    font-size: 1.5em;
    transition: all .2s;
    font-weight: 500;
    pointer-events: none;
}

#containerCalleAltura {
    height: auto;
}

.container__sub__4--calle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    position: relative;
}

.container__sub__4--calle input:focus + label,
.container__sub__4--calle input:valid + label {
    bottom: 55%;
    font-size: 1em;
}

.container__sub__4--calle label {
    position: absolute;
    bottom: -5px;
    font-size: 1.5em;
    transition: all 0.2s;
    font-weight: 500;
    pointer-events: none;
}

.container__sub__4--calle input {
    height: 40px;
}

.container__sub__4--altura {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10%;
}

.container__sub__4--altura input:focus + label,
.container__sub__4--altura input:valid + label  {
    bottom: 55%;
    border: none;
    font-size: 1em;
}

.container__sub__4--altura input {
    height: 40px;
}

#containerpisoDeptoTorre{
    height: auto;
}

.container__sub__3--pisoDeptoTorre{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
    position: relative;
}

.container__sub__3--pisoDeptoTorre label{
    position: absolute;
    bottom: -5px;
    padding: 5px;
    font-size: 1.5em;
    transition: all .2s;
    font-weight: 500;
    pointer-events: none;
}

.container__sub__3--pisoDeptoTorre input{
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    height: 40px;
}

.container__sub__4--piso{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10%;
}

.container__sub__4--piso input:focus + label,
.container__sub__4--piso input:valid + label {
    bottom: 55%;
    border: none;
    font-size: 1em;
}

.container__sub__4--Depto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10%;
}

.container__sub__4--depto input:focus + label,
.container__sub__4--depto input:valid + label {
    bottom: 55%;
    border: none;
    font-size: 1em;
}

.container__sub__4--Torre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

.container__sub__4--torre input:focus + label,
.container__sub__4--torre input:valid + label {
    bottom: 55%;
    border: none;
    font-size: 1em;
}

#container__sub__3--localidadCodpostal{
    height: auto;
}

.container__sub__3--localidadCodpostal{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
    position: relative;
}

.container__sub__3--localidadCodpostal label{
    position: absolute;
    bottom: -5px;
    padding: 5px;
    font-size: 1.5em;
    transition: all .2s;
    font-weight: 500;
    pointer-events: none;
}

.container__sub__4--localidad{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
}

.container__sub__4--localidad input:focus + label,
.container__sub__4--localidad input:valid + label {
    bottom: 55%;
    border: none;
    font-size: 1em;
}

.container__sub__4--localidad input{
    height: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}

.container__sub__4--codpostal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
}

.container__sub__4--codpostal input:focus + label,
.container__sub__4--codpostal input:valid + label {
    bottom: 55%;
    border: none;
    font-size: 1em;
}

.container__sub__4--codpostal input{
    height: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}

.container__sub__3--observaciones{
    width: 100%;
}

.container__sub__4--observaciones{
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    width: 100%;
}

.container__sub__4--observaciones textarea{
    width: 100%;
    resize: none;
}

/* FIN DEL CONTAINER INFO USUARIO */

/* INICIO DEL CONTAINER COMPRAS */

.container__todo__compras__sub{
    display: none;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

.container__todo__compras__sub--sinCompras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__todo__compras__sub a{
    color: #000;
}

.container__todo__compras__sub a:hover{
    text-decoration: underline;
}

.container__todo__compras__sub--table{
    border-radius: 4px;
    padding: 10px;
    height: auto;

}

.container__todo__compras__sub--table-tr-1{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    height: 60px;
}

#container__todo__compras__sub--table-tr-2{
    height: 50px;
    text-align: center;
    background-color: aliceblue;
}

.container__todo__compras__sub--responsive{
    display: none;
}

/* FIN DEL CONTAINER COMPRAS */


/* INICIO DEL CONTAINER CAMBIAR CLAVE */

.container__todo_cambiarClave__sub{
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 40px;
    text-align: center;
    gap: 20px;
    font-size: 1.2em;
}

.container__todo__cambiarClave__sub__2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60px;
    gap: 10px;
}

.container__todo__cambiarClave__sub__2 input{
    height: 100%;
    width: 70%;
}

.container__todo__submitCambiarClave{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.container__todo__submitCambiarClave input{
    height: 100%;
    border-radius: 4px;
    background-color: transparent;
}

.container__todo__submitCambiarClave input:hover{
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

.container__mensajeError{
    color: #b82222;
    display: none;
}

/* FIN DEL CONTAINER CAMBIAR CLAVE */

/* INICIO DEL CONTAINER ERROR CAMBIO CLAVE */

.error__cambioClave--fondo{
    display: block;
    background-color: #00000029;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.error__cambioClave--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    gap: 10px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: #b82222;
    border: 4px solid #fff;
    color: #fff;
    border-radius: 20px;
    z-index: 70;
    overflow: hidden;
}

.error__cambioClave-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #fff;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    color: #000;
}

#cerrarSesionSi:hover{
    opacity: 70%;
}

#cerrarSesionNo:hover{
    opacity: 70%;
}

.error__cambioClave-intentarDeNuevo{
    cursor: pointer;
}

/* DEL CONTAINER ERROR CAMBIO CLAVE */

/* FIN DEL MAIN */

/* INICIO DEL FOOTER */
footer{
    background: linear-gradient(to bottom, black, #575353);
    color: white;
    display: flex;
    width: 100%;
    height: 120px;
    position: relative;
    bottom: 0;
}

footer p{
    align-self: center;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}
/* FIN DEL FOOTER */


/* ANIMACIONES */
@keyframes opac {
    0% {opacity: 1;}
    10% {opacity: 1;}
    20% {opacity: 1;}
    80% {opacity: 1;}
    90% {opacity: .5;}
    100% {opacity: 0;visibility: hidden;}
}


/* INICIO DEL RESPONSIVE DESIGN 996px */
@media screen and (max-width: 996px){

/* INICIO DEL MAIN */

main{
    width: 100%;
    height: auto;
    min-height: 100%;
    margin-top: 0;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: start;
}

/* CONTAINER ASIDE */


.container__todo__aside{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
    height: auto;
    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
}

.container__todo__aside hr{
    border: none;
    border-radius: 0px;
    background-color: rgb(80, 80, 80);
}

.container__infoUser{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-break: break-all;
    padding: 10px;
    cursor: pointer;
    gap: 10px;
}

.container__infoUser:hover{
    opacity: 70%;
}

.container__infoUser h1{
    margin-top: 4px;
}

.iconoAside{
    width: 35px;
    height: 35px;
}

#cerrarSesion:hover{
    background-color: rgb(145, 30, 30);
    opacity: 100%;
}

/* FIN DEL CONTAINER ASIDE */


/* CONTAINER INFO USUARIO */

.container__todo{
    display: flex;
    flex-direction: column;
    width: 1400px;
    min-height: 1000px;
    margin: 30px;
    box-shadow: 10px 5px 5px rgb(54, 54, 54);
}

.container__todo__sub{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.container__sub__2--datos{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

#enviarModificarCambios{
    width: 50%;
    align-self: center;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    margin-bottom: 10px;
}

#enviarModificarCambios:hover{
    background-color: #52a838;
    transition: all 1s;
    border-color: #fff;
    color: #fff;
}

.container__sub__2{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#containerImagenDatos{
    border-bottom: 3px solid #c4bebe;
    border-radius: 4px;
    background: #fff;
    color: #000;
}

.container__sub__3--imagen{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.container__sub__3--imagen--container{
    width: 100%;
    height: 300px;
    border-radius: 50%;
}

.container__sub__3--imagen img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container__sub__4--imagenNueva{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    position: relative;
    background-color: #d69b42;
}

.container__sub__4--imagenNueva label{
    display: flex;
    position: absolute;
    font-size: 1em;
    color: #fff;
    gap: 10px;
}

.container__sub__4--imagenNueva input{
    width: 100%;
    height: 100%;
    opacity: 0;
}

#cambiarFotoPerfil{
    height: 40px;
    background-color: #52a838;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}

.container__sub__3--datos{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}

.container__sub__4--nombreRol{
    text-align: center;
}

.container__sub__4--nombreRol h1{
    font-size: 40px;
}

.container__sub__4--mail{
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 20%;
    width: auto;
    align-items: center;
    font-size: 1.2em;
}

.container__sub__4--mail input{
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    color: #000;
    background-color: transparent;
    font-size: 1.2em;
    width: auto;
}

#hrDatosUser{
    width: 30%;
}

.container__sub__3--provinciaCiudad{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    gap: 10px;
    position: relative;
}

.container__sub__3--provinciaCiudad input{
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}

#containerProvinciaCiudad{
    height: auto;
}

.container__sub__4--provincia{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2vw;
    width: 50%;
    height: auto;
}

.container__sub__4--provincia select{
    height: 40px;
    border-radius: 4px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.container__sub__4--ciudad{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 50%;
}

.container__sub__4--ciudad label{
    position: absolute;
    bottom: -5px;
    padding: 5px;
    font-size: 1.5em;
    transition: all .2s;
    font-weight: 500;
    pointer-events: none;
}

.container__sub__4--ciudad input:focus + label,
.container__sub__4--ciudad input:valid + label {
    bottom: 55%;
    border: none;
    font-size: 1em;
}

.container__sub__4--ciudad input{
    height: 40px;
}

hr{
    background-color: #c4bebe;
    height: 4px;
    border: 1px solid #5870db29;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.container__sub__3--calleAltura {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
    position: relative;
}

.container__sub__3--calleAltura input {
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}

.container__sub__3--calleAltura label {
    position: absolute;
    bottom: -5px;
    padding: 5px;
    font-size: 1.5em;
    transition: all .2s;
    font-weight: 500;
    pointer-events: none;
}

#containerCalleAltura {
    height: auto;
}

.container__sub__4--calle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    position: relative;
}

.container__sub__4--calle input:focus + label,
.container__sub__4--calle input:valid + label {
    bottom: 55%;
    font-size: 1em;
}

.container__sub__4--calle label {
    position: absolute;
    bottom: -5px;
    font-size: 1.5em;
    transition: all 0.2s;
    font-weight: 500;
    pointer-events: none;
}

.container__sub__4--calle input {
    height: 40px;
}

.container__sub__4--altura {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10%;
}

.container__sub__4--altura input:focus + label,
.container__sub__4--altura input:valid + label  {
    bottom: 55%;
    border: none;
    font-size: 1em;
}

.container__sub__4--altura input {
    height: 40px;
}

#containerpisoDeptoTorre{
    height: auto;
}

.container__sub__3--pisoDeptoTorre{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
    position: relative;
}

.container__sub__3--pisoDeptoTorre label{
    position: absolute;
    bottom: -5px;
    padding: 5px;
    font-size: 1.5em;
    transition: all .2s;
    font-weight: 500;
    pointer-events: none;
}

.container__sub__3--pisoDeptoTorre input{
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    height: 40px;
}

.container__sub__4--piso{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10%;
}

.container__sub__4--piso input:focus + label,
.container__sub__4--piso input:valid + label {
    bottom: 55%;
    border: none;
    font-size: 1em;
}

.container__sub__4--Depto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10%;
}

.container__sub__4--depto input:focus + label,
.container__sub__4--depto input:valid + label {
    bottom: 55%;
    border: none;
    font-size: 1em;
}

.container__sub__4--Torre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

.container__sub__4--torre input:focus + label,
.container__sub__4--torre input:valid + label {
    bottom: 55%;
    border: none;
    font-size: 1em;
}

#container__sub__3--localidadCodpostal{
    height: auto;
}

.container__sub__3--localidadCodpostal{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
    position: relative;
}

.container__sub__3--localidadCodpostal label{
    position: absolute;
    bottom: -5px;
    padding: 5px;
    font-size: 1.5em;
    transition: all .2s;
    font-weight: 500;
    pointer-events: none;
}

.container__sub__4--localidad{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
}

.container__sub__4--localidad input:focus + label,
.container__sub__4--localidad input:valid + label {
    bottom: 55%;
    border: none;
    font-size: 1em;
}

.container__sub__4--localidad input{
    height: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}

.container__sub__4--codpostal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
}

.container__sub__4--codpostal input:focus + label,
.container__sub__4--codpostal input:valid + label {
    bottom: 55%;
    border: none;
    font-size: 1em;
}

.container__sub__4--codpostal input{
    height: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}

.container__sub__3--observaciones{
    width: 100%;
}

.container__sub__4--observaciones{
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    width: 100%;
}

.container__sub__4--observaciones textarea{
    width: 100%;
    resize: none;
}

/* FIN DEL CONTAINER INFO USUARIO */

/* INICIO DEL CONTAINER COMPRAS */

.container__todo__compras__sub{
    display: none;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 900px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

.container__todo__compras__sub--sinCompras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__todo__compras__sub a{
    color: #000;
}

.container__todo__compras__sub a:hover{
    text-decoration: underline;
}

.container__todo__compras__sub--table{
    border-radius: 4px;
    padding: 10px;
    height: auto;

}

.container__todo__compras__sub--table-tr-1{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    height: 60px;
}

#container__todo__compras__sub--table-tr-2{
    height: 50px;
    text-align: center;
    background-color: aliceblue;
}

/* FIN DEL CONTAINER COMPRAS */


/* INICIO DEL CONTAINER CAMBIAR CLAVE */

.container__todo_cambiarClave__sub{
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 1000px;
    background-color: #fff;
    padding: 40px;
    text-align: center;
    gap: 20px;
    font-size: 1.2em;
}

.container__todo__cambiarClave__sub__2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60px;
    gap: 10px;
}

.container__todo__cambiarClave__sub__2 input{
    height: 100%;
    width: 70%;
}

.container__todo__submitCambiarClave{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.container__todo__submitCambiarClave input{
    height: 100%;
    border-radius: 4px;
    background-color: transparent;
}

.container__todo__submitCambiarClave input:hover{
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

.container__mensajeError{
    color: #b82222;
    display: none;
}

/* FIN DEL CONTAINER CAMBIAR CLAVE */

/* INICIO DEL CONTAINER ERROR CAMBIO CLAVE */

.error__cambioClave--fondo{
    display: block;
    background-color: #00000029;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.error__cambioClave--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    gap: 10px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: #b82222;
    border: 4px solid #fff;
    color: #fff;
    border-radius: 20px;
    z-index: 70;
    overflow: hidden;
}

.error__cambioClave-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #fff;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    color: #000;
}

#cerrarSesionSi:hover{
    opacity: 70%;
}

#cerrarSesionNo:hover{
    opacity: 70%;
}

.error__cambioClave-intentarDeNuevo{
    cursor: pointer;
}

/* DEL CONTAINER ERROR CAMBIO CLAVE */

/* FIN DEL MAIN */

/* INICIO DEL FOOTER */
footer{
    background: linear-gradient(to bottom, black, #575353);
    color: white;
    display: flex;
    width: 100%;
    height: 120px;
    position: relative;
    bottom: 0;
}

footer p{
    align-self: center;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}
/* FIN DEL FOOTER */

}



/* INICIO DEL RESPONSIVE DESIGN 589px*/
@media screen and (max-width: 589px){

/* INICIO DEL MAIN */

main{
    width: 100%;
    height: auto;
    min-height: 100%;
    margin-top: 0;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: start;
}

/* CONTAINER ASIDE */


.container__todo__aside{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
    height: auto;
    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
}

.container__todo__aside hr{
    border: none;
    border-radius: 0px;
    background-color: rgb(80, 80, 80);
}

.container__infoUser{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-break: break-all;
    padding: 10px;
    cursor: pointer;
    gap: 10px;
}

.container__infoUser:hover{
    opacity: 70%;
}

.container__infoUser h1{
    margin-top: 4px;
}

.iconoAside{
    width: 35px;
    height: 35px;
}

#cerrarSesion:hover{
    background-color: rgb(145, 30, 30);
    opacity: 100%;
}

/* FIN DEL CONTAINER ASIDE */


/* CONTAINER INFO USUARIO */

.container__todo{
    display: flex;
    flex-direction: column;
    min-width: 375px;
    min-height: 1000px;
    margin: 30px;
    box-shadow: 10px 5px 5px rgb(54, 54, 54);
}

.container__todo__sub{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
}

.container__sub__2--datos{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

#enviarModificarCambios{
    width: 50%;
    align-self: center;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    margin-bottom: 10px;
}

#enviarModificarCambios:hover{
    background-color: #52a838;
    transition: all 1s;
    border-color: #fff;
    color: #fff;
}

.container__sub__2{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#containerImagenDatos{
    border-bottom: 3px solid #c4bebe;
    border-radius: 4px;
    background: #fff;
    color: #000;
}

.container__sub__3--imagen{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.container__sub__3--imagen--container{
    width: 100%;
    height: 300px;
    border-radius: 50%;
}

.container__sub__3--imagen img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container__sub__4--imagenNueva{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    position: relative;
    background-color: #d69b42;
}

.container__sub__4--imagenNueva label{
    display: flex;
    position: absolute;
    font-size: 1em;
    color: #fff;
    gap: 10px;
}

.container__sub__4--imagenNueva input{
    width: 100%;
    height: 100%;
    opacity: 0;
}

#cambiarFotoPerfil{
    height: 40px;
    background-color: #52a838;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}

.container__sub__3--datos{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}

.container__sub__4--nombreRol{
    text-align: center;
}

.container__sub__4--nombreRol h1{
    font-size: 40px;
}

.container__sub__4--mail{
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 20%;
    width: auto;
    align-items: center;
    font-size: 1.2em;
}

.container__sub__4--mail input{
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    color: #000;
    background-color: transparent;
    font-size: 1.2em;
    width: auto;
}

#hrDatosUser{
    width: 30%;
}

.container__sub__3--provinciaCiudad{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    gap: 10px;
    position: relative;
}

.container__sub__3--provinciaCiudad input{
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}

#containerProvinciaCiudad{
    height: auto;
}

.container__sub__4--provincia{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1em;
    width: 50%;
    height: auto;
}

.container__sub__4--provincia select{
    height: 40px;
    border-radius: 4px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.container__sub__4--ciudad{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 50%;
}

.container__sub__4--ciudad label{
    position: absolute;
    bottom: -5px;
    padding: 5px;
    font-size: 1em;
    transition: all .2s;
    font-weight: 500;
    pointer-events: none;
}

.container__sub__4--ciudad input:focus + label,
.container__sub__4--ciudad input:valid + label {
    bottom: 55%;
    border: none;
    font-size: 1em;
}

.container__sub__4--ciudad input{
    height: 40px;
}

hr{
    background-color: #c4bebe;
    height: 4px;
    border: 1px solid #5870db29;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.container__sub__3--calleAltura {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
    position: relative;
}

.container__sub__3--calleAltura input {
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}

.container__sub__3--calleAltura label {
    position: absolute;
    bottom: -5px;
    padding: 5px;
    font-size: 1em;
    transition: all .2s;
    font-weight: 500;
    pointer-events: none;
}

#containerCalleAltura {
    height: auto;
}

.container__sub__4--calle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.container__sub__4--calle input:focus + label,
.container__sub__4--calle input:valid + label {
    bottom: 55%;
    font-size: 1em;
}

.container__sub__4--calle label {
    position: absolute;
    bottom: -5px;
    font-size: 1em;
    transition: all 0.2s;
    font-weight: 500;
    pointer-events: none;
}

.container__sub__4--calle input {
    height: 40px;
}

.container__sub__4--altura {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
}

.container__sub__4--altura input:focus + label,
.container__sub__4--altura input:valid + label  {
    bottom: 55%;
    border: none;
    font-size: 1em;
}

.container__sub__4--altura input {
    height: 40px;
}

#containerpisoDeptoTorre{
    height: auto;
}

.container__sub__3--pisoDeptoTorre{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
    position: relative;
}

.container__sub__3--pisoDeptoTorre label{
    position: absolute;
    bottom: -5px;
    padding: 5px;
    font-size: 1em;
    transition: all .2s;
    font-weight: 500;
    pointer-events: none;
}

.container__sub__3--pisoDeptoTorre input{
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    height: 40px;
}

.container__sub__4--piso{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10%;
}

.container__sub__4--piso input:focus + label,
.container__sub__4--piso input:valid + label {
    bottom: 55%;
    border: none;
    font-size: 1em;
}

.container__sub__4--Depto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10%;
}

.container__sub__4--depto input:focus + label,
.container__sub__4--depto input:valid + label {
    bottom: 55%;
    border: none;
    font-size: 1em;
}

.container__sub__4--Torre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

.container__sub__4--torre input:focus + label,
.container__sub__4--torre input:valid + label {
    bottom: 55%;
    border: none;
    font-size: 1em;
}

#container__sub__3--localidadCodpostal{
    height: auto;
}

.container__sub__3--localidadCodpostal{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
    position: relative;
}

.container__sub__3--localidadCodpostal label{
    position: absolute;
    bottom: -5px;
    padding: 5px;
    font-size: 1em;
    transition: all .2s;
    font-weight: 500;
    pointer-events: none;
}

.container__sub__4--localidad{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container__sub__4--localidad input:focus + label,
.container__sub__4--localidad input:valid + label {
    bottom: 55%;
    border: none;
    font-size: 1em;
}

.container__sub__4--localidad input{
    height: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}

.container__sub__4--codpostal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}

.container__sub__4--codpostal input:focus + label,
.container__sub__4--codpostal input:valid + label {
    bottom: 55%;
    border: none;
    font-size: 1em;
}

.container__sub__4--codpostal input{
    height: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}

.container__sub__3--observaciones{
    width: 100%;
}

.container__sub__4--observaciones{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    width: 100%;
}

.container__sub__4--observaciones textarea{
    width: 100%;
    resize: none;
}

/* FIN DEL CONTAINER INFO USUARIO */

/* INICIO DEL CONTAINER COMPRAS */

.container__todo__compras__sub{
    display: none;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 900px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

.container__todo__compras__sub--responsive{
    display: flex;
}

.container__todo__compras__sub--sinCompras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__todo__compras__sub a{
    color: #000;
}

.container__todo__compras__sub a:hover{
    text-decoration: underline;
}

.container__todo__compras__sub--table{
    border-radius: 4px;
    padding: 10px;
    height: auto;
}

.container__todo__compras__sub--table-tr-1{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    height: 60px;
}

#container__todo__compras__sub--table-tr-2{
    height: 50px;
    text-align: center;
    background-color: aliceblue;
}

/* FIN DEL CONTAINER COMPRAS */


/* INICIO DEL CONTAINER CAMBIAR CLAVE */

.container__todo_cambiarClave__sub{
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 1000px;
    background-color: #fff;
    padding: 40px;
    text-align: center;
    gap: 20px;
    font-size: 1.2em;
}

.container__todo__cambiarClave__sub__2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60px;
    gap: 10px;
}

.container__todo__cambiarClave__sub__2 input{
    height: 100%;
    width: 70%;
}

.container__todo__submitCambiarClave{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.container__todo__submitCambiarClave input{
    height: 100%;
    border-radius: 4px;
    background-color: transparent;
}

.container__todo__submitCambiarClave input:hover{
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

.container__mensajeError{
    color: #b82222;
    display: none;
}

/* FIN DEL CONTAINER CAMBIAR CLAVE */

/* INICIO DEL CONTAINER ERROR CAMBIO CLAVE */

.error__cambioClave--fondo{
    display: block;
    background-color: #00000029;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.error__cambioClave--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    gap: 10px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: #b82222;
    border: 4px solid #fff;
    color: #fff;
    border-radius: 20px;
    z-index: 70;
    overflow: hidden;
}

.error__cambioClave-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #fff;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    color: #000;
}

#cerrarSesionSi:hover{
    opacity: 70%;
}

#cerrarSesionNo:hover{
    opacity: 70%;
}

.error__cambioClave-intentarDeNuevo{
    cursor: pointer;
}

/* DEL CONTAINER ERROR CAMBIO CLAVE */

/* FIN DEL MAIN */

/* INICIO DEL FOOTER */
footer{
    background: linear-gradient(to bottom, black, #575353);
    color: white;
    display: flex;
    width: 100%;
    height: 120px;
    position: relative;
    bottom: 0;
}

footer p{
    align-self: center;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}
/* FIN DEL FOOTER */
    
}