/* MENU DE LOGIN */

*{
    font-family: 'Roboto Condensed', sans-serif;
}

/* Boton de LOGIN en el HEADER */
.btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;  
    transition: .5s;
    position: absolute;
    right: 5%;
}

.btnLogin-popup:hover{
    background: #fff;
    color: #575353;
}

.btnfondo{
    display: none;
    background-color: #00000029;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

/* FIN del Boton de LOGIN en el HEADER */

.wrapper{
    position: fixed;
    width: 500px;
    height: 500px;
    background: linear-gradient(to top, rgb(32, 29, 29), #575353);
    border: 2px solid rgba(255, 255, 255, .5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .5s ease, height .2s ease;
    transform: scale(0);
    z-index: 60;
}

.wrapper.active-popup{
    transform: scale(1);  
}

.wrapper.active {
    height: 620px;
}

.form-box{
    width: 100%;
    padding: 40px;  
}

.form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-500px);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(500px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #fff;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}

.wrapper .icon-close:hover{
    color: red;
}

.form-box h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
}

.remember-forgot{
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #252525;
    margin-right: 3px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    color: #252323;
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 800;
    transition: all 1.5s;
}

.btn:hover{
    background-color: #000;
    color: #fff;
}

.login-register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding-left: 7px;
}

.login-register p a:hover{
    text-decoration: underline;
}

.contenedor-icono{
    position: absolute;
    right: 13.2%;
}

/* FIN DEL MENU DE LOGIN */



/* INICIO DEL RESPONSIVE DESIGN 996px */
@media screen and (max-width: 996px){
    /* MENU DE LOGIN */
    
    .wrapper{
        position: fixed;
        width: 500px;
        height: 500px;
        background: linear-gradient(to top, rgb(32, 29, 29), #575353);
        border: 2px solid rgba(255, 255, 255, .5);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        border-radius: 20px;
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: transform .5s ease, height .2s ease;
        transform: scale(0);
        z-index: 60;
    }
    
    .wrapper.active-popup{
        transform: scale(1);  
    }
    
    .wrapper.active {
        height: 100%;
    }
    
    /* FIN DEL MENU DE LOGIN */
    }

/* INICIO DEL RESPONSIVE DESIGN 412px*/
@media screen and (max-width: 412px){

/* MENU DE LOGIN */

.wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(32, 29, 29), #575353);
    border: 2px solid rgba(255, 255, 255, .5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .5s ease, height .2s ease;
    transform: scale(0);
    z-index: 60;
}

.wrapper.active-popup{
    transform: scale(1);  
}

.wrapper.active {
    height: 100%;
}

/* FIN DEL MENU DE LOGIN */
}